ul {
    margin: 0px;
    padding: 0px;
    background: lightgrey;
    list-style-type: none;
    z-index: 100;
    font-size: 16px;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 15px;
    color: #292929;
    text-decoration: none;
    display: block;
}

ul li:hover {
    background: lightskyblue;
}

ul ul {
    position: absolute;
    min-width: auto;
    background: lightgrey;
    display: none;
}

ul ul li {
    display: block;
    background: #e3e3e3;
}

ul li:hover ul {
    display: block;
}

@media (max-width: 768px) {
    div {
        display: block;
        background: greenyellow;
    }
    ul {
        display: none;
        position: static;
        background: greenyellow; //#e3e3e3;
    }
    ul li {
        display: block;
        background: greenyellow;
    }
    ul ul {
        position: static;
        background: #e3e3e3;
    }
}