.myitemf {
    background: rgb(224, 222, 222);
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    height: 20px;
}

.myitemf:hover {
    background: rgb(207, 230, 245);
}

.myitem {
    background: rgb(240, 238, 238);
}

.myitem:hover {
    background: rgb(240, 238, 238);
}

.mysubmenue {
    background: rgb(207, 230, 245);
}

ul {
    margin: 0px;
    padding: 0px;
    background: rgb(240, 238, 238);
    list-style-type: none;
    z-index: 100;
    font-size: 16px;
    height: 30px;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 15px;
    color: #292929;
    text-decoration: none;
    display: block;
}

ul li:hover input:hover {
    background: rgb(207, 230, 245);
}

ul ul {
    position: absolute;
    min-width: auto;
    background: lightgrey;
    display: none;
}

ul ul li {
    display: block;
    background: #e3e3e3;
}

ul li:hover ul {
    display: block;
}

li input {
    border: none;
    background: rgb(240, 238, 238);
    font-size: 15px;
}