.myitemf {
    background: white;
    color: black;
}

.myitem {
    background: lightgray;
}

ul {
    margin: 0px;
    padding: 0px;
    background: lightgray;
    list-style-type: none;
    z-index: 100;
    font-size: 16px;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 15px;
    color: #292929;
    text-decoration: none;
    display: block;
}

ul li:hover {
    background: lightskyblue;
}

/*
input:hover {
    background: lightskyblue;
}
*/

ul ul {
    position: absolute;
    min-width: auto;
    background: lightgrey;
    display: none;
}

ul ul li {
    display: block;
    background: #e3e3e3;
}

ul li:hover ul {
    display: block;
}